_draft
datasets
models
MyJenaProject/input
MyJenaProject/input_filtered
MyJenaProject/input_family
MyJenaProject/lib
MyJenaProject/output
MyJenaProject/output_filtered
MyJenaProject/output_family
check.ipynb
toy_example.ipynb